{% extends "streamcenter/layout.html" %}
{% load static %}

{% block body %}

<div class="card border-secondary" style="max-width: 80rem; margin-top:1rem;" id="content-card">
    <div class="card-header"><h3 id="title">Home</h3></div>
    <div class="card-body text-secondary" id="content-body">

        <div id="artists-div">
            <div id="posts">
            </div>
        </div>

        <div id="modify-div">
            <div id="accordion"></div>
        </div>

        <div id="favorites-div"></div>

        <div id="later-div"></div>

        <div id="spinner-div" class="d-flex justify-content-center"></div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script type="module" src="{% static 'streamcenter/script.js' %}"></script>
{% endblock %}